* {
    box-sizing: border-box;
}
body {
    /* background-color: gray; */
    color: white;
    margin: 0rem;
    background-image: url("../images/technical-background.jpg");
}
button {
    background-color: white;
    width: 35%;
    float: left;
    margin-left: 10%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    box-shadow: 5px 10px;
    outline: none;
    border: solid 2px black;
}
button:active {
    transform: translateY(4px);
    box-shadow: none;
}
h1 {
    background-color: black;
    opacity: .8;
    color: white;
    text-align: center;
    margin-top: 0rem;
    height: 5rem;
    padding-top: 1.25rem;
    font-size: 1.75rem;
    border: white solid 2px;
}
h2 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.25rem;
    background-color: white;
    color: black;
    opacity: .8;
    margin-bottom: 0rem;
    text-align: center;
}
#question {
    text-align: center;
    background-color: black;
    opacity: .8;
    height: 4rem;
    margin: 0rem;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    padding-top: 1rem;
}
p {
    margin: 0rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
#true {
    margin-bottom: 1rem;

}
#false {
    margin-bottom: 1rem;
}
#answer {
    width: 70%;
    margin-left: 15%;
    float: left;
    text-align: center;
    background-color: black;
    opacity: .8;
    height: 4rem;
    padding-top: 1rem;
    margin-bottom: 0rem;
    font-size: 1.5rem;
}
#gamePts {
    float: left;
    text-align: center;
    background-color: black;
    opacity: .8;
    height: 4rem;
    padding-top: .75rem;
    width: 70%;
    margin-left: 15%;
    margin-top: 0rem;
    font-size: 1.5rem;
}
